@import "tailwindcss";

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}

.input {
  @apply w-full border rounded p-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
}
